<div class='container'>
  <form id='card' action='/create_cards' method='post'>
    <input type='text' name='side_one' placeholder='Card Side One'>
    <input type='text' name='side_two' placeholder='Card Side Two'>
    <input type='submit' value='Add Card'>
  </form>
  <a href='/'>Finish Deck</a>
</div>