<h1>Welcome to Flashcards!</h1>

<div class="container">
  <form id='deck' action='/create_deck' method='post'>
    <input type='text' name='name' placeholder='Deck Title'>
    <textarea placeholder='Deck Description' rows='4' cols='50' name='description'></textarea>
    <input id="deck_button" type='submit' value='Submit Deck'>
  </form>



</div>
