<div class="deck">
  <form id='deck-form' action='/create_deck' method='post'>
    <input type='text' name='name' placeholder='Deck Title'><br>
    <textarea placeholder='Deck Description' rows='4' cols='50' name='description'></textarea><br>
    <input id="deck_button" type='submit' value='Submit Deck Info'><br>
  </form>
</div>
