<h1>Welcome to Flashcards!</h1>

<div class="container">

<% if !@current_user %>
  <form action='/' method='post'>
    Username: <input type='text' name='username'><br>
    Password: <input type='password' name='password_hash'><br>
    <input type='submit' value='Login'>
  </form>
  <a href='/sign_up' >Sign Up!</a>
<% end %>
</div>
