<div class='container'>
  <h2><%= @current_deck.name %></h2>
  <p> <%= @card.side_one %> </p>
  <form id='guess-sub' action="/decks/<%= params[:id] %>" method='post'>
    <input type='hidden' name="current_card" value='<%=@card.side_two %>'>
    <input type='text' name="guess">
    <input type='submit' value='Guess'>
  </form>
  <p></p>
</div>
