<h3>Enter your information here:</h3>

<form id='signup-form' action='/sign_up' method='post'>
    Username: <input type='text' name='username'><br>
    Password: <input type='password' name='password_hash'><br>
    Email: <input type='email' name='email'><br>
    <input type='submit' value='Create Account!'>
</form>
